a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.table div {
  display: block;
  flex-direction: row;
  max-width: 500px;
  margin: 2rem;
}

div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 7px;
}


